/* Styles for the nav-bar custom component */
svg {
    display: inline-block;
    vertical-align: middle
}

h2 {
    margin-left: 12px;
}

.navbar {
    z-index: 1000;
    position: fixed;
    top: 8px;
    left: 8px;
    right: 8px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 12px;
    height: 36px;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    background-color: transparent;
    color: var(--color-secondary);
    border: transparent;
    cursor: pointer;
}

.hamburger:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-radius: var(--border-radius);
}

#sidebar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: -316px;
    width: 308px;
    margin: 8px;
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding-top: 60px;
    transition: left 0.3s ease;
    z-index: 2000;
}

.navitem {
    display: block;
    width: 100%;
    border-bottom: 2px solid var(--color-primary)
}

.home {
    position: absolute;
    top: 24px;
    left: 32px;
    height: 30px;
    font-size: 18pt;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-secondary);
}

.home:hover {
    border-bottom: 2px solid var(--color-secondary);
    transition: border-bottom 0.3s ease;
}

.navitem-container {
    font-size: 14pt;
    margin: 0;
    padding: 24px 8px 12px 8px;
    display: flex;
    flex-direction: column;
}

.navitem-container ::slotted(a) {
    color: var(--color-secondary);
    text-decoration: none;
    border-radius: var(--border-radius);
    margin: 8px 12px;
    padding: 8px 12px;
}

.navitem-container ::slotted(a:hover) {
    background: var(--color-secondary);
    color: var(--color-primary);
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

.menu-container {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-container>* {
    padding: 8px;
    border-radius: var(--border-radius);
}

.report-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-secondary);
    text-decoration: none;
}

svg {
    display: inline-block;
    vertical-align: middle;
    margin: 4px;
}